@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
}

 body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #9B9B9B;
} 

header {
    width: auto;
    background: #00796B;
    box-shadow: 0px 1px 20px rgba(139, 139, 139, 0.65);
} 

nav {
    padding: 5px 40px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo img{
    width: 150px;
}

.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.menu ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10px;
    padding: 0;
}

.menu ul li {
    margin: 0 20px;
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;

    color: white;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #009688;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    color: #009688;
    text-transform: uppercase;
}

/* FOOTER */

footer {
    text-align: center;
    font-weight: 500;
    color: black;
    background: #C4C4C4;
}

footer p {
    margin: 0;
    padding: 10px;
}


/* INDEX */



.index-container {
    width: 90vw;
    min-height: calc(100vh - 120px);
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.index-container>img  {
    width: 700px;
    height: 400px;
 }

.text  {
    margin: 28px 0;
}



@media (max-width: 1100px) {

    .index-container {
        flex-wrap: wrap;
    }

    .index-container>img  {
       width: 650px;
       height: 100%;
       justify-content: center;
     }
    
}

@media (max-width: 650px) {

    .index-container>img  {
        width: 90%;
        height: 100%;
    }
     

    nav {
        justify-content: center;
        padding: 25px;
    }

    .menu ul {
        justify-content: space-around;
    }
}

